html{
    scroll-behavior: smooth;
}

.nav-link{
    text-decoration: none;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: rgb(39, 213, 233);
    border-radius: 10px;
}

.up-txt{
    background-color: azure;
    font-size: 50px;
}

.down-txt{
    background-color: rgb(13, 13, 13);
    font-size: 50px;
    letter-spacing: 5px;
}

#downTxt {
    color: white;
}

nav{
    background-color: #00ADB5;
}

h1{
    font-family: 'Lexend Deca', sans-serif;
}

h2{
    font-family: 'Roboto Mono', sans-serif; ;
}

.bg-img-1{
    background-image: url(image/carousel.jpg);
}
.bg-img-2{
    background-image: url(image/carousel1.jpg);
}
.bg-img-3{
    background-image: url(image/carousel2.jpg);
}

#navmenu{
    font-family: 'Space Mono', sans-serif;
}
.carousel-image{
    height: 100vh;
    width: 100vh;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    object-position: center;
    
}

img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
}
img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    overflow: hidden;
}

.trend-img{
    overflow: hidden;
}
.new-img{
    overflow: hidden;
}
.best-img{
    overflow: hidden;
}
